*.o
*.a
*.os
*.obj
*~
*.a
*.so
*.dylib
*.swp
*.pdb
.gdb_history
*.eps
*.pdf
*.out
*.log
*.hm
*.vtk
*.dot
.hlibpro.conf
.hpx.ini
machines.gpi

.scons.*
.sconsign.dblite
*.log

GPATH
GRTAGS
GSYMS
GTAGS

*-seq
*-tbb
*-omp
*-tf
*-hpx
